RTDealsWebApplication.suo
RTDealsWebApplication.dll
RTDealsWebApplication.pdb
DesignTimeResolveAssemblyReferencesInput.cache
ResolveAssemblyReference.cache
WebSite.csproj.FileListAbsolute.txt
WebSite.csproj.user
~$*.*
~*.tmp
