<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnStr" connectionString="Server=127.0.0.1;Database=rtdeals;Uid=root;Pwd=rootpass;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value="DEBUG"/>
  </appSettings>
</configuration>